body {
  font-family: 'Segoe UI', sans-serif;
  background: #f9fafb;
}

.card {
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

form input, form button {
  margin-bottom: 1rem;
}

img.img-fluid {
  max-height: 300px;
  object-fit: cover;
  border-radius: 1rem;
}

.page h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
