.bootstrap-btn-primary {
    background-color: rgb(121, 82, 179);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.bootstrap-btn-secondary {
    background-color: rgb(108, 117, 125);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}